:root {
    --black_scuro: rgb(34, 40, 49);
    --gray_scuro: rgb(49, 54, 63);
    --azzurro: rgb(118, 171, 174);
    --gray_chiaro: rgb(238, 238, 238);
    --viola: rgb(104, 48, 237);
    --footer_color: rgb(44, 48, 53);
}

body {
    background: rgb(34, 37, 41);
    /* background-image: linear-gradient(
      to bottom right,
      #403F44, #1E1B32
    )!important; */
    margin: 0;
    /* padding: 0; */
    /* min-height: 100vh; */ /* Per allungare il body a tutta la pagina */
  }

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../Fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    /* Aggiungi altre varianti del font (font-weight, font-style) se necessario */
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('../Fonts/Poppins/Poppins-Light.ttf') format('truetype');
    /* Aggiungi altre varianti del font (font-weight, font-style) se necessario */
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../Fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    /* Aggiungi altre varianti del font (font-weight, font-style) se necessario */
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../Fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    /* Aggiungi altre varianti del font (font-weight, font-style) se necessario */
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../Fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    /* Aggiungi altre varianti del font (font-weight, font-style) se necessario */
}

/* CardColor */
.bi-heart-fill:hover {
    transform: rotate(-6deg) scale(1.1);
}

.bottone-like {
    margin-top: 0.5rem;
}

/* Animazione bottone like */
.bottone-cuore {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    transition: transform 0.2s ease;
}

.bottone-delete {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.259);
    border-radius: 0 7px 0 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    transition: transform 0.2s ease;
}

.bottone-delete:hover {
    transform: scale(1.05);
}

.bi-x-lg {
    transition: transform 0.2s ease;
}

.bi-x-lg:hover {
    transform: scale(1.2);
}
  
.bottone-cuore:hover {
    transform: scale(1.1); 
}

.bottone-cuore svg {
    margin-right: 4px;
}

.numero-like {
    transition: color 0.2s ease;
}

.numero-like {
    font-family: "Roboto-Medium";
    color: white;
    /* vertical-align: middle; */
}

.bottoni {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.bottone-save {
    cursor: pointer;
    transition: transform 0.2s ease;
    justify-self: flex-end;
}

.bottone-save:hover {
    transform: scale(1.15); 
}

/* DashboardPage & FirstElement */
.titolo_principale {
    color: white;
    font-family: "Poppins-Bold";
    font-size: 72px;
}

.palette_pubblicate {
    color: white;
    font-family: "Poppins-Bold";
    font-size: 42px;
    margin-bottom: 0.5rem;
}

.sottotitolo_principale {
    color: white;
    font-family: "Poppins-Light";
    font-size: 22px;
}

.titolo_principale_background {
    background: linear-gradient(90deg, rgba(246,204,207,1) 31%, rgba(132,87,238,1) 86%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Nasconde il testo originale */
}

.titolo_principale_sottotitolo_div {
    max-width: 30%;
    margin-top: -1rem;
}

.titolo_principale_sottotitolo {
    color: white;
    font-family: "Poppins-Bold";
    font-size: 42px;
    line-height: 95%;
    letter-spacing: 0.5px;
}

.sottotitolo_principale_home_div {
    margin-top: 3px;
    /* max-width: 60%; */
    line-height: 155%;
}

.sottotitolo_principale_home_div_palette {
    margin-top: -1rem;
}

.sottotitolo_principale_home {
    color: rgba(228, 228, 255, 0.8);
    font-family: "Roboto-Regular";
    font-size: 23px;
    letter-spacing: 0.5px;
}

.palette {
    width: 50%;
}
 
 /* Footer */
 .page-footer {
    color: white;
}

a {
    color: inherit!important;
    text-decoration: none!important;
}

footer {
    position: fixed; /* Posiziona il footer in modo fisso */
    bottom: 0; 
    width: 100%;
    background-color: var(--footer_color);
    color: white;
}

/* LoginElement & RegisterElement*/
.login_container {
    color: white;
}

label {
    color: white!important;
}

input {
    color: white!important;
}

.showPassword_button {
    color: white!important;
}

.register_container {
    color: white;
}

/* MyNavbar */
.active {
    color: rgba(228, 228, 255, 0.8) !important;
    text-decoration: underline!important;
}

.bi-palette-fill:hover {
    transform: rotate(-4deg) scale(1.1);
}

.bi-person-circle {
    margin-right: 1rem;
}

.bi-person-circle:hover {
    transform: rotate(-4deg) scale(1.1);
}

.custom-navbar  {
    background-color: var(--viola);
    color: white;
}

.navbar-brand {
    color: var(--gray_chiaro)!important;
    font-family: "Poppins-Medium";
}

.navbar_brand {
    width: 100%;
}

.nav-link:hover {
    transform: scale(1.07);
    color: rgba(228, 228, 255, 0.8)!important;
}

/* PaletteCard */
.form-control-color {
    padding: 0.375ch;
}

.form-control:focus {
    box-shadow: 0 0 0 0;
    border-color: transparent;
}

.card-colors{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    position: relative;
}

/* TODO */
/* .card-colors:hover{
    transform: scale(1.04);
} */

.div-color{
    height: 50px;
    width: 100%; 
    color: white;
}

.first {
    border-radius: 7px 7px 0 0;
    /* height: 75px; */ /* BOH */
}

.last {
    border-radius: 0 0 7px 7px;
}

.span_text {
    position: absolute;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.259);
    border-radius: 0 0 4px 0;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 3px;
    transition: transform 0.2s ease;
}

.span_text:hover {
    background-color: rgba(0, 0, 0, 0.309);
    transform: scale(1.03);
}

.first_span_text {
    position: absolute;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.259);
    border-radius: 7px 0 4px 0;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 3px;
    transition: transform 0.2s ease;
}

.first_span_text:hover {
    background-color: rgba(0, 0, 0, 0.309);
    transform: scale(1.03);
}

.modal-content {
    background-color: var(--footer_color);
    color: white;
}

.modal-footer {
    border-top: 0;
}

.modal-header {
    border-bottom: 0;
}

.bottone_pubblica:hover {
    transform: scale(1.04);
}

/* PalettePage */
.cointainer_principale {
    margin-bottom: 10rem;
}

.bi-arrow-down-circle-fill {
    cursor: pointer;
}

.bi-arrow-down-circle-fill:hover {
    cursor: pointer;
    transform: rotate(-4deg) scale(1.1);
}
  
/* Infinite Scroll */
.scroller {
    max-width: 900px;
    position: static;
  }
  
.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 20%,
        white 80%,
        transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}


.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 40s;
}


@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}


.tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
}

.tag-list li {
    padding: 1rem 3rem 1rem 3rem;
    background-color: transparent;
    border-radius: 1.2rem;    
    border: 1px solid  #eceff11c;
    /* transition: filter 0.3s ease; */   /* Collegato a filter in li:hover per aumentare la luminosità */

}

li:hover {
    transform: scale(1.05);
    border: 1px solid #eceff158;
    /* filter: brightness(70%); */   /* Per aumentare la luminosità all'hover */
}

/* .BsFillPaletteFill:hover {
    transform: rotate(-4deg) scale(1.1);
} */

.infinite_scroll {
    height: max-content;
}

/* About Contatti */
.container_contatti {
    color: white;
}

.titolo_contatti {
    font-family: "Poppins-Bold";
    font-size: 42px;
    line-height: 95%;
    letter-spacing: 0.5px;
}

.sottotitolo_contatti {
    color: rgba(228, 228, 255, 0.8);
    font-family: "Roboto-Regular";
    font-size: 18px;
    letter-spacing: 0.5px;
}

.info_contatti {
    margin-top: -0.8rem;
    font-family: "Roboto-Regular";
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 0.7px;
}

.link_portfolio {
    color: white!important;
    text-decoration: none;
}

/* Bottone homepage */
.custom-btn {
    width: 180px;
    height: 50px;
    color: #fff;
    border-radius: 1px;
    padding: 10px 25px;
    font-size: larger;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     
    outline: none;
  }
  /* 8 */
.btn-8 {
    background-color: #f0ecfc;
  background-image: linear-gradient(90deg, rgba(132,87,238,1) 21%, rgba(246,204,207,1) 76%);
    line-height: 50px;
    padding: 0;
    border: none;
  }
  .btn-8 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-8:before,
  .btn-8:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #c797eb;
    /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
    transition: all 0.3s ease;
  }
  .btn-8:before{
     height: 0%;
     width: 2px;
  }
  .btn-8:after {
    width: 0%;
    height: 2px;
  }
  .btn-8:hover:before {
    height: 100%;
  }
  .btn-8:hover:after {
    width: 100%;
  }
  .btn-8:hover{
    background: transparent;
  }
  .btn-8 span:hover{
    color: #c797eb;
  }
  .btn-8 span:before,
  .btn-8 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #c797eb;
    /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
    transition: all 0.3s ease;
  }
  .btn-8 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-8 span:after {
    height: 2px;
    width: 0%;
  }
  .btn-8 span:hover:before {
    height: 100%;
  }
  .btn-8 span:hover:after {
    width: 100%;
  }

/* -------------------------------------------------------- */
/* Responsive Zone */
@media screen and (max-width: 800px) {
    html {
        background: rgb(34, 37, 41);
    }

    .titolo_principale {
        font-size: 52px;
    }

    .titolo_principale_sottotitolo_div {
        max-width: 100%;
    }

    .titolo_principale_sottotitolo {
        font-size: 32px;
    }

    .sottotitolo_principale_home {
        font-size: 19px;
    }

    .card-colors{
        width: 160px;
    }

    .bottoni {
        /* display: flex;
        justify-content: space-between;
        align-items: center; */
        width: 160px;
    }
    
    .div-color{
        height: 40px;
    }
    
    .span_text {
        font-size: 12px;
    }

    .span_text:hover {
        background-color: rgba(0, 0, 0, 0.259);
        transform: none;
    }
    
    .first_span_text {
        font-size: 12px;
    }

    .first_span_text:hover {
        background-color: rgba(0, 0, 0, 0.259);
        transform: none;
    }
    
    .palettes {
        margin-top: 0rem!important;
    }

    .cointainer_principale { /* TODO */
        margin-top: 1rem!important;
        /* margin-bottom: 10rem; */
    }

    .cointainer_principale_about {
        margin-top: 0rem!important;
    }

    .titolo_contatti {
        font-size: 32px;
    }

    .sottotitolo_contatti {
        font-size: 16px;
    }

    .informazioni_sotto {
        margin-top: 3rem!important;
    }

    /* .card-colors-home {
        width: 240px;
    }

    .div-color-home {
        height: 60px;
    }

    .span_text_home {
        font-size: 15px;
    }
    
    .first_span_text_home {
        font-size: 15px;
    } */

    .swiper_class {
        margin-left: 0.5rem!important;
    }

    /* Hover */
    .bi-heart-fill:hover {
        transform: none;
    }
    
    .bottone-cuore:hover {
        transform: none;
    }

    .bottone-save:hover {
        transform: none; 
    }

    .bottone-delete:hover {
        transform: none;
    }
    
    .bi-x-lg:hover {
        transform: none;
    }
    
    .bi-palette-fill:hover {
        transform: none;
    }
    
    
    .bi-person-circle:hover {
        transform: none;
    }
    
    .nav-link:hover {
        transform: none;
        color: white!important;
    }
    
    .bottone_pubblica:hover {
        transform: none;
    }
    
    .bi-arrow-down-circle-fill:hover {
        cursor: pointer;
        transform: none;
    }
    
    li:hover {
        transform: none;
        border: 1px solid  #eceff11c;
    }
    /* Fine hover */
    .tag-list li {
        padding: 0.8rem 2.5rem 0.8rem 2.5rem;
        background-color: transparent;
        border-radius: 1.2rem;    
    }

    .titolo_principale_dashboard {
        line-height: 90%;
        margin-bottom: 1.5rem;
    }

    .palette_pubblicate {
        line-height: 90%;
        font-size: 32px;
        margin-bottom: 1.5rem;
        margin-top: 3rem;
    }

    .custom-btn {
        margin-top: 2rem!important;
        border-radius: 7px;
        width: 150px;
        height: 40px;
        font-size: medium;
        font-weight: 700;
    }
    .btn-8 {
        background-color: #f0ecfc;
        background-image: linear-gradient(90deg, rgba(132,87,238,1) 21%, rgba(246,204,207,1) 76%);
        line-height: 40px;
        padding: 0;
        border: none;
    }
    .btn-8:hover{
        background-color: #f0ecfc;
        background-image: linear-gradient(90deg, rgba(132,87,238,1) 21%, rgba(246,204,207,1) 76%);
    }
    .btn-8 span:hover{
        color: white;
    }
    .btn-8:before{
        height: 0%;
        width: 0;
    }
    .btn-8:after {
       width: 0%;
       height: 0;
    }
    .btn-8 span:before {
        width: 0;
        height: 0%;
    }
    .btn-8 span:after {
    height: 0;
    width: 0%;
    }
    .active {
        color: white !important;;
    }
      
}